$size_s: 30px;
$size_m: 40px;
$size_l: 50px;

$fs_s: 13px;
$fs_m: 15px;
$fs_l: 17px;

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: unset;
    color: inherit;
    font: inherit;
    cursor: inherit;
    &:focus {
        outline: none;
    }
}

.btn.s {
    min-height: $size_s;
    font-size: $fs_s;
    &.IconButton {
        min-width: $size_s;
        max-width: $size_s;
        max-height: $size_s;
    }
    &.Chip {
        height: $size_s;
    }
}
.btn.m {
    min-height: $size_m;
    font-size: $fs_m;
    &.IconButton {
        min-width: $size_m;
        max-width: $size_m;
        max-height: $size_m;
    }
    &.Chip {
        height: $size_m;
    }
}
.btn.l {
    min-height: $size_l;
    font-size: $fs_l;
    &.IconButton {
        min-width: $size_l;
        max-width: $size_l;
        max-height: $size_l;
    }
    &.Chip {
        height: $size_l;
    }
}
.btn {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    padding: 4px 10px;

    border-radius: 5px;
    // box-shadow: 1px 1px #00000014;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */


    .disabled {
        color: #d2d5db;
        background: #6c7589;
        cursor: not-allowed;
    }
    &:focus-within {
        outline: none;
        box-shadow: 0 0 0 4px #cbd6ee;
    }
}

.SwitchClicker {
    min-width: 100px;

    border-left: 5px solid $primary;
    font-weight: 600;
    &.selected {
        background: $primary;
        color: white;
    }
}
.Chip {
    border-radius: 50px;
    // box-shadow: 1px 1px 1px 0px #0000001f;
    > span:not(:last-child) {
        margin-right: 10px;
    }
    > span:last-child {
        margin-left: 10px;
    }
    > img {
        margin-left: -4px;
        object-fit: cover;
        height: 100%;
        border-radius: inherit;
    }

    &.selected {
        background: $primary;
        color: white;
    }
}
.Button {
    min-width: 100px;
    font-weight: 600;
    > span:not(:last-child) {
        margin-right: 10px;
    }
    > span:last-child {
        margin-left: 10px;
    }
}
.IconButton {
    font-weight: 600;
}

// Theme


// .button {
//     border: 2px solid transparent;
//     font-weight: 600;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: transparent;
//     &.block > .content {
//         justify-content: center;
//     }
//     > .content {
//         flex: 1;
//         display: flex;
//         align-items: center;
//     }
//     &:not(:disabled) {
//         cursor: pointer;
//         pointer-events: all;
//     }
//     &.h-xs > .content {
//         padding: 0 $space_xs;
//     }
//     &.h-sm > .content {
//         padding: 0 $space_sm;
//     }
//     &.h-md > .content {
//         padding: 0 $space_md;
//     }
//     &.h-lg > .content {
//         padding: 0 $space_lg;
//     }
//     &.h-xl > .content {
//         padding: 0 $space_xl;
//     }
//     &.h-xxl > .content {
//         padding: 0 $space_xxl;
//     }
// }
