$headerHeight: 60px;

$sidebarWidth: 250px;
$sidebarBackground: #32363B;
$sidebarTextColor: #bdbdbd;
$sidebarPrimaruColor: #03a9f4;
$sidebarMenuItemHeight: 40px;

$menuItemBackground: inherit;
$menuItemBackground_hover: #ffffff0a;
$menuItemTextColor: inherit;
$menuItemTextColor_hover: white;

.sidebar {
    // #292929
    flex-direction: column;
    z-index: 2;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    width: $sidebarWidth;
    position: fixed;
    top: 0;
    bottom: 0;
    @include respond-to('small') {
        display: none;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 80%;
        min-width: 80%;
        &.open {
            display: flex;
        }
    }

    // >.sidebar-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 16px;
    //     height: -webkit-fill-available;
    //     width: 100%;
    // }

    > .sidebar-body {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: overlay;
    }

}
.sidebar-toogler {
    @include respond-to('small') {
        display: flex !important;
    }
    display: none !important;
}

.header {
    background-color: $grey-light-100;
    z-index: 1;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    .mid {
        flex: 1;
        padding: 0 20px;
    }
}
// @media screen and (min-width: 768px){
//     height: auto;
//     display: flex;
// }

// styling
.layout {
    background: #e8e8e8;
    &.fixedHeader {
        > .sidebar {
            top: $headerHeight;
        }
        > .mid-layout {
            min-height: calc(100vh - #{$headerHeight});
            margin-top: $headerHeight;
            > .header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
    &.noHeader {
        > .sidebar {
            top: 0;
        }
        > .mid-layout {
            margin-top: 0;
            min-height: 100vh;
            .header {
                display: none;
            }
        }
    }
    &.noSidebar {
        > .sidebar {
            display: none;
        }
        .sidebar-toogler {
            display: none;
        }
        .mid-layout {
            margin-left: 0;
        }

    }
    .mid-layout {
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: $sidebarWidth;
        @include respond-to('small') {
            margin-left: 0;
        }
    }
}


// .container {
//     margin: 0 auto;
//     padding-right: 1rem;
//     padding-left: 1rem;
//     max-width: 1150px;
//     width: 100%;
//     &.fluid {
//         padding-right: 0;
//         padding-left: 0;
//         width: 100%;
//         max-width: 100%;
//     }
//     &:not(.fluid) {
//         @include respond-to('medium') {
//             width: 100%;
//             max-width: 860px;
//         }
//         @include respond-to('small') {
//             width: 100%;
//             max-width: 100%;
//         }
//     }

// }

.group.collapsed {
    border-radius: $radius;
    flex-direction: row;
    >:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    >:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    >:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.vertical {
        flex-direction: column;
        > * {
            margin: 0;
            flex: 1;
            width: 100%;
        }
        >:first-child {
            border-top-right-radius: inherit;
            border-top-left-radius: inherit;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        >:last-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;
        }
    }
}

.group {
    display: flex;
    align-items: center;
}
.group.sm:not(.collapsed) {
    margin-top: $space_xs;
    margin-bottom:$space_xs;:not(:first-child):not(:last-child) {
        margin: 0 8px;
    }
}
.group.md:not(.collapsed) {
    margin-top: $space_md;
    margin-bottom:$space_md;:not(:first-child):not(:last-child) {
        margin: 0 12px;
    }
}
.group.lg:not(.collapsed) {
    margin-top: $space_lg;
    margin-bottom:$space_lg;:not(:first-child):not(:last-child) {
        margin: 0 16px;
    }
}


// Content


// Menu

.menuGroup {
    margin-bottom: $space_md;
}
.menu-title {
    text-align: center;
    color: white;
    margin-bottom: $space_xs;
}
.menuItem.sm {
    height: $height_sm;
}
.menuItem.md {
    height: $height_md;
}
.menuItem.lg {
    height: $height_lg;
}
.menuItem {
    cursor: pointer;
    background: $menuItemBackground;
    color: $menuItemTextColor;
    .ppfx {
        display: none;
        color: white;
        font-weight: 600;
    }
    .ssfx {
        color: white;
    }
    &:hover {
        background: $menuItemBackground_hover;
        color: $menuItemTextColor_hover;
    }
    &.active {
        .ppfx {
            display: flex;
        }
    }
}


// .menuGroup-children {
//     padding-left: $mediumSpace;
// }


/** Page **/
.page {
    min-height: inherit;
    &.centered {
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.page > .head {
    padding: 20px 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    > .fas {
        font-size: 12px;
    }
    > .title {
        flex: 1;
        font-size: 30px;
        @include respond-to('small') {
            flex: 1;
        }
    }
}
