.c-pri {
    color: $primary;
}
.c-sec {
    color: $secondary;
}
.c-dang {
    color: $danger;
}
.c-warn {
    color: $warning;
}
.c-succ {
    color: $success;
}
.c-infos {
    color: $infos;
}
.c-light {
    color: $grey-light-100;
}
.c-dark {
    color: $grey-dark-100;
}

.bg-pri {
    background-color: $primary;
    color: white;
}
.bg-sec {
    background-color: $secondary;
    color: white;
}
.bg-dang {
    background-color: $danger;
    color: white;
}
.bg-warn {
    background-color: $warning;
    color: white;
}
.bg-succ {
    background-color: $success;
    color: white;
}
.bg-infos {
    background-color: $infos;
    color: white;
}
.bg-light {
    background-color: $grey-light-100;
    color: $grey-dark-100;
}
.bg-dark {
    background-color: #020b19;
    color: $grey-light-100;
}
// Positions
.vertical {
    flex-direction: column;
}


// Themes
.primary {
    &.filled {
        background-color: $primary;
        color: $primary-light-100;
        &.canHover:hover {
            background-color: $primary-dark-40;
        }
    }
    &.outlined {
        border-color: $primary;
        color: $primary;
        &.canHover:hover {
            border-color: $primary-dark-40;
            color: $primary-dark-40;
        }
    }
    &.ghost {
        color: $primary;
        &.canHover:hover {
            background-color: $primary-light-90;
        }
    }
}
.secondary {
    &.filled {
        background-color: $secondary;
        color: white;
        &.canHover:hover {
            background-color: $secondary-dark-40
        }
    }
    &.outlined {
        border-color: $secondary;
        color: $secondary;
        &.canHover:hover {
            border-color: $secondary-dark-40;
            color: $secondary-dark-40;
        }
    }
    &.ghost {
        color: $secondary;
        &.canHover:hover {
            background-color: $secondary-light-90;
        }
    }
}
.danger {
    &.filled {
        background-color: $danger;
        color: white;
        &.canHover:hover {
            background-color: $danger-dark-40;
        }
    }
    &.outlined {
        border-color: $danger;
        color: $danger;
        &.canHover:hover {
            border-color: $danger-dark-40;
            color: $danger-dark-40;
        }
    }
    &.ghost {
        color: $danger;
        &.canHover:hover {
            background-color: $danger-light-90;
        }
    }
}
.warning {
    &.filled {
        background-color: $warning;
        color: white;
        &.canHover:hover {
            background-color: $warning-dark-40;
        }
    }
    &.outlined {
        border-color: $warning;
        color: $warning;
        &.canHover:hover {
            border-color: $warning-dark-40;
            color: $warning-dark-40;
        }
    }
    &.ghost {
        color: $warning;
        &.canHover:hover {
            background-color: $warning-light-90;
        }
    }
}
.success {
    &.filled {
        background-color: $success;
        color: white;
        &.canHover:hover {
            background-color: $success-dark-40;
        }
    }
    &.outlined {
        border-color: $success;
        color: $success;
        &.canHover:hover {
            border-color: $success-dark-40;
            color: $success-dark-40;
        }
    }
    &.ghost {
        color: $success;
        &.canHover:hover {
            background-color: $success-light-90;
        }
    }
}
.infos {
    &.filled {
        background-color: $infos;
        color: white;
        &.canHover:hover {
            background-color: $infos-dark-40;
        }
    }
    &.outlined {
        border-color: $infos;
        color: $infos;
        &.canHover:hover {
            border-color: $infos-dark-40;
            color: $infos-dark-40;
        }
    }
    &.ghost {
        color: $infos;
        &.canHover:hover {
            background-color: $infos-light-90;
        }
    }
}
.light {
    &.filled {
        background-color: $grey-light-100;
        color: $grey-dark-100;
        &.canHover:hover {
            background-color: $grey-light-50;
        }
    }
    &.outlined {
        border-color: $grey;
        color: $grey;
        &.canHover:hover {
            border-color: $grey-light-80;
            color: $grey-light-80;
        }
    }
    &.ghost {
        color: $grey-light-100;
        &.canHover:hover {
            background-color: $grey-light-10;
            color: $grey-dark-100;
        }
    }
}
.dark {
    &.filled {
        background-color: $grey-dark-100;
        color: $grey-light-100;
        &.canHover:hover {
            background-color: $grey-dark-80;
        }
    }
    &.outlined {
        border-color: $grey-dark-70;
        color: $grey-dark-70;
        &.canHover:hover {
            border-color: $grey-dark-100;
            color: $grey-dark-100;
        }
    }
    &.ghost {
        color: $grey-dark-100;
        &.canHover:hover {
            background-color: $grey-dark-90;
            color: $grey-light-100;
        }
    }
}
.grey {
    &.filled {
        background-color: $grey;
        color: $grey-dark-90;
        &.canHover:hover {
            background-color: $grey-dark-10;
        }
    }
    &.outlined {
        border-color: $grey-dark-40;
        color: $grey-dark-40;
        &.canHover:hover {
            border-color: $grey-dark-100;
            color: $grey-dark-100;
        }
    }
    &.ghost {
        color: $grey-dark-10;
        &.canHover:hover {
            background-color: $grey-light-90;
            color: $grey-dark-40;
        }
    }
}
// Heights
.h-xs {
    min-height: $height_xs;
    max-height: $height_xs;
}
.h-sm {
    min-height: $height_sm;
    max-height: $height_sm;
}
.h-md {
    min-height: $height_md;
    max-height: $height_md;
}
.h-lg {
    min-height: $height_lg;
    max-height: $height_lg;
}
.h-xl {
    min-height: $height_xl;
    max-height: $height_xl;
}
.h-xxl {
    min-height: $height_xxl;
    max-height: $height_xxl;
}
// PADDINGS
.pad-xs {
    padding: $space_xs;
}
.pad-sm {
    padding: $space_sm;
}
.pad-md {
    padding: $space_md;
}
.pad-lg {
    padding: $space_lg;
}
.pad-xl {
    padding: $space_xl;
}
.pad-xxl {
    padding: $space_xxl;
}
.padLR-xs {}
.padLR-sm {}
.padLR-md {
    padding-left: $space_md;
    padding-right: $space_md;
}
.padLR-lg {}
.padLR-xl {}
.padLR-xxl {}
.padTB-xs {}
.padTB-sm {}
.padTB-md {}
.padTB-lg {}
.padTB-xl {}
.padTB-xxl {}
// MARGINS
.m-xs {
    margin: $space_xs;
}
.m-sm {
    margin: $space_sm;
}
.m-md {
    margin: $space_md;
}
.m-lg {
    margin: $space_lg;
}
.m-xl {
    margin: $space_xl;
}
.m-xxl {
    margin: $space_xxl;
}


.ml-xs {
    margin-left: $space_xs;
}
.ml-sm {
    margin-left: $space_sm;
}
.ml-md {
    margin-left: $space_md;
}
.ml-lg {
    margin-left: $space_lg;
}
.ml-xl {
    margin-left: $space_xl;
}
.ml-xxl {
    margin-left: $space_xxl;
}
.mr-xs {
    margin-right: $space_xs;
}
.mr-sm {
    margin-right: $space_sm;
}
.mr-md {
    margin-right: $space_md;
}
.mr-lg {
    margin-right: $space_lg;
}
.mr-xl {
    margin-right: $space_xl;
}
.mr-xxl {
    margin-right: $space_xxl;
}
.mt-xs {
    margin-top: $space_xs;
}
.mt-sm {
    margin-top: $space_sm;
}
.mt-md {
    margin-top: $space_md;
}
.mt-lg {
    margin-top: $space_lg;
}
.mt-xl {
    margin-top: $space_xl;
}
.mt-xxl {
    margin-top: $space_xxl;
}
.mb-xs {
    margin-bottom: $space_xs;
}
.mb-sm {
    margin-bottom: $space_sm;
}
.mb-md {
    margin-bottom: $space_md;
}
.mb-lg {
    margin-bottom: $space_lg;
}
.mb-xl {
    margin-bottom: $space_xl;
}
.mb-xxl {
    margin-bottom: $space_xxl;
}
// elvations
.elvation-xs {}
.elvation-sm {}
.elvation-md {}
.elvation-lg {}
.elvation-xl {}
.elvation-xxl {}

// Heights
.h-xs {
    min-height: $height_xs;
    max-height: $height_xs;
}
.h-sm {
    min-height: $height_sm;
    max-height: $height_sm;
}
.h-md {
    min-height: $height_md;
    max-height: $height_md;
}
.h-lg {
    min-height: $height_lg;
    max-height: $height_lg;
}

.h-xl {
    min-height: $height_xl;
    max-height: $height_xl;
}
.h-xxl {
    min-height: $height_xxl;
    max-height: $height_xxl;
}

// Widths
.w-xs {}
.w-sm {}
.w-md {}
.w-lg {}
.w-xl {}
.w-xxl {}

// Roundness
.square {
    border-radius: 0;
}
.curved {
    border-radius: $radius-curved;
}
.round {
    border-radius: $radius-round;
}
.cercled {
    border-radius: 100%;
}
// Misc
.block {
    width: 100% !important;
}

// States
.isDisabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}
@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.isActive {
    @extend %fa-icon;
    @extend .fas;
    &::before {
        content: fa-content(#{$fa-var-check-circle});
        margin-left: 10px;
    }
    .content {
        font-family: $font1;
    }
}
.isLoading {
    @extend %fa-icon;
    @extend .fas;
    > .content {
        color: transparent !important;
    }
    &::before {
        cursor: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        content: fa-content(#{$fa-var-spinner});
        animation: fa-spin 2s infinite linear;
    }

}
.isDisabled {
    &.ghost {
        color: $grey-dark-30;
    }
    &.filled {
        background-color: $grey-dark-40;
        color: $grey-light-100;
    }
    &.outlined {
        border-color: $grey-dark-40;
        color: $grey-dark-40;
    }

}

.isLocked {
    @extend %fa-icon;
    @extend .fas;
    cursor: not-allowed !important;
    pointer-events: none !important;
    > .content {
        color: transparent !important
    }
    &::before {
        cursor: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        content: fa-content($fa-var-lock);
        border-radius: inherit;
    }
}

/** Typo **/

.longT {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
