* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: 'Cairo', sans-serif;    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


// button,
// input,
// textarea,
// select {
//     outline: unset;
//     border: unset;
//     font: inherit;
//     border-radius: unset;
//     background-color: transparent;
//     color: black;
// }

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@import "../fa5/scss/fontawesome.scss";
@import "../fa5/scss/solid.scss";
@import "../fa5/scss/brands.scss";

@import './_variables.scss';
@import './_sets.scss';

@import "./components/layout.scss";
@import "./components/cta.scss";
@import "./components/menu.scss";
@import "./components/form.scss";
@import "./components/tables.scss";
@import "./components/base.scss";



